{% load static %}
<html>
  <head>
    <title>遊戯王まとめ</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <header>
      <h2>遊戯王まとめ</h2>
    </header>
    <main>
        <div id="nav">
          <h3>サイトの概要</h3>
          <ul>
            <li><a href="https://rocket2.pythonanywhere.com/info">サイト紹介</a></li>
          </ul>
          <h3>今日のオススメ</h3>
          <ul>
            <li><a href="https://rocket2.pythonanywhere.com/topic">記事１</a></li>
            <li><a href="https://rocket2.pythonanywhere.com/topic">記事２</a></li>
            <li><a href="https://rocket2.pythonanywhere.com/topic">記事３</a></li>
          </ul>
          <h3>最新情報</h3>
          <ul>
            <li><a href="https://rocket2.pythonanywhere.com/news">その１</a></li>
            <li><a href="https://rocket2.pythonanywhere.com/news">その２</a></li>
            <li><a href="https://rocket2.pythonanywhere.com/news">その３</a></li>
          </ul>
          <h3>交流・意見箱</h3>
          <ul>
            <li><a href="https://rocket2.pythonanywhere.com/conv">ご意見ご要望</a></li>
            <li><a href="https://rocket2.pythonanywhere.com/conv">交流スレ</a></li>
          </ul>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
      <p>○○様によって管理、運営されております</p>
    </footer>
  </body>
</html>