{% extends 'base.html' %}
{% block content %}
    <div id="contents">
    <h2>遊戯王まとめへようこそ！</h2>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ホームに戻るには、</p>
    <a href="http://gekioko3.pythonanywhere.com/">こちらをクリック</a>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>  
    <p>ここにはコンテンツが入ります</p>
    <p>ここにはコンテンツが入ります</p>
    </div>
{% endblock %}