
        {% extends 'base.html' %}
        {% block content %}
        <div id="contents">
          <h2>ご意見ご感想を投稿してください。</h2>
          <form>
            ・名前<br/>
            <input type="text" name="name1" size="30" /><br/>
            <p>
              ・メッセージをどうぞ！<br/>
              <textarea rows="6" col="40" wrap="soft"></textarea><br/>
            </p>
            <input type="submit" value="メッセを送信" />
            <input type="reset" value="リセット">
          </form>
          <a href="http://gekioko3.pythonanywhere.com/">最後にここをクリック！</a>
        </div>
        {% endblock %}