{% load static %}
<html>
  <head>
    <title>遊戯王まとめ</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <header>
      <h1>遊戯王まとめ</h1>
    </header>
    <main>
      {% for post in posts %}
        <div id="nav">
          <h3>サイトの概要</h3>
          <ul>
            <li><a href="info.html">サイト紹介</a></li>
          </ul>
          <h3>気になる話題</h3>
          <ul>
            <li><a href="topic.html">記事１</a></li>
            <li><a href="topic.html">記事２</a></li>
            <li><a href="topic.html">記事３</a></li>
          </ul>
          <h3>最新情報</h3>
          <ul>
            <li><a href="news.html">その１</a></li>
            <li><a href="news.html">その２</a></li>
          </ul>
          <h3>交流・意見箱</h3>
          <ul>
            <li><a href="conv.html">ご意見ご要望</a></li>
            <li><a href="conv.html">メール</a></li>
          </ul>
        </div>
        <div id="contents">
          <h2>遊戯王まとめへようこそ！</h2>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
          <p>ここにはコンテンツが入ります</p>
        </div>

    </main>
      {% endfor %}
    <footer>
      <p>○○様によって管理、運営されております</p>
    </footer>
  </body>
</html>
