        {% extends 'base.html' %}
        {% block content %}
        <div id="contents">
          <p>大変申し訳ありませんが、まだ用意ができておりませんので、下記のリンクからご確認ください。</p>
          <a href="http://yugiohprice.antenam.jp/feeds/view/9">面白そうな記事へ記事へジャンプする</a>
          <p>こちらの掲示板もどうぞ</p>
          <a href="https://fate.5ch.net/yugioh/#5">5ch・遊戯王スレへ</a>
          <p>twittermもどうぞ</p>
          <a href="https://twitter.com/search?q=%E9%81%8A%E6%88%AF%E7%8E%8B&src=recent_search_click">ツイッターへジャンプする</a>
          <p>ホームに戻る際には、</p>
          <a href="{{request.META.HTTP_REFERER}}">こちらをクリック！</a>
        </div>
        {% endblock %}
        
