header {
  background-color: brown;
  height: 15%;
  text-align: center;
}

main {
  height: 75%;
}

#nav {
  background-color: #99ff99;
  width:15%;
  float:left;
}

#nav ul li {
  font-size: xx-small;
}


#contents {
  background-color: #ffc;
  width: 85%;
  float: right;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 10%;
}
